### pandas

1.Write a Pandas program to convert Series of lists to one Series.

In [2]:
import pandas as pd

series_of_lists = pd.Series([[1, 2, 3], [4, 5,6], [7, 8, 9]])

result_series = series_of_lists.explode()

print("Original Series of Lists:")
print(series_of_lists)

print("\nConverted Series:")
print(result_series)

Original Series of Lists:
0    [1, 2, 3]
1    [4, 5, 6]
2    [7, 8, 9]
dtype: object

Converted Series:
0    1
0    2
0    3
1    4
1    5
1    6
2    7
2    8
2    9
dtype: object

2.Write a Pandas program to create a subset of a given series based on value and
condition.

In [4]:
import pandas as pd

my_series = pd.Series([100, 90, 30, 40, 30])
condition = my_series > 30
subset = my_series[condition]

print("Original Series:")
print(my_series)

print("\nSubset based on condition (values greater than 30):")
print(subset)

Original Series:
0    100
1     90
2     30
3     40
4     30
dtype: int64

Subset based on condition (values greater than 30):
0    100
1     90
3     40
dtype: int64

3.Write a Pandas program to display most frequent value in a given series and replace
everything else as 'others' in the series

In [5]:
import pandas as pd

my_series = pd.Series([1, 2, 2,3, 3, 4, 4, 4])
most_frequent_value = my_series.mode().iloc[0]
my_series = my_series.apply(lambda x: most_frequent_value if x == most_frequent_value else 'Other')

print(my_series)

0    Other
1    Other
2    Other
3    Other
4    Other
5        4
6        4
7        4
dtype: object

4.Write a Pandas program to find the positions of numbers that are multiples of 5 of a
given series.

In [6]:
import pandas as pd

my_series = pd.Series([1, 5, 10, 15, 20, 25, 30, 35, 40])

positions_of_multiples_of_5 = my_series.index[my_series % 5 == 0]

print("Original Series:")
print(my_series)

print("\nPositions of numbers that are multiples of 5:")
print(positions_of_multiples_of_5)

Original Series:
0     1
1     5
2    10
3    15
4    20
5    25
6    30
7    35
8    40
dtype: int64

Positions of numbers that are multiples of 5:
Int64Index([1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

5.Write a Pandas program to calculate the number of characters in each word in a given
series.

In [7]:
import pandas as pd

my_series = pd.Series(['Niteesh', 'Subhash', 'Jai', 'Shannu'])
word_lengths = my_series.str.len()

print("Original Series:")
print(my_series)

print("\nNumber of characters in each word:")
print(word_lengths)

Original Series:
0    Niteesh
1    Subhash
2        Jai
3     Shannu
dtype: object

Number of characters in each word:
0    7
1    7
2    3
3    6
dtype: int64

6.Write a Pandas program to convert year-month string to dates adding a specified day
of the month.

In [8]:
import pandas as pd

year_month_strings = pd.Series(['2022-01', '2022-02', '2022-03', '2022-04'])
specified_day = 6

dates_with_specified_day = pd.to_datetime(year_month_strings + '-' + str(specified_day), format='%Y-%m-%d')

result_df = pd.DataFrame({
    'Year-Month String': year_month_strings,
    'Converted Date': dates_with_specified_day
})

print(result_df)

  Year-Month String Converted Date
0           2022-01     2022-01-06
1           2022-02     2022-02-06
2           2022-03     2022-03-06
3           2022-04     2022-04-06

7.Write a Pandas program to create and display a DataFrame from a specified
dictionary data which has the index labels.

In [12]:
import pandas as pd

data  = {'name': ['Niteesh', 'srinadh', 'manohar'],
        'score': [12.5, 9, 16.5]}
labels = ['a', 'b', 'c']

df = pd.DataFrame(data , index=labels)
print(df)

      name  score
a  Niteesh   12.5
b  srinadh    9.0
c  manohar   16.5

8.Write a Pandas program to select the rows where the number of attempts in the
examination is greater than 2.

In [15]:
import pandas as pd

data  = {'name': ['Niteesh', 'srinadh', 'manohar'],
        'score': [12.5, 9, 16.5],
        'attempts' : [1, 3, 2]}
labels = ['a', 'b', 'c']

df = pd.DataFrame(data , index=labels)
print(df[df['attempts'] > 2])

      name  score  attempts
b  srinadh    9.0         3

9.Write a Pandas program to append a new row 'k' to data frame with given values for
each column. Now delete the new row and return the original DataFrame.

In [19]:
data  = {'name': ['Niteesh', 'srinadh', 'manohar'],
        'score': [12.5, 9, 16.5],
        'attempts' : [1, 3, 2]}
labels = ['a', 'b', 'c']
print("\nAppend a new row:")
df.loc['d'] = ['jhansy',12,0]
print("Print all records after insert a new record:")
print(df)
print("\nDelete the new row and display the original  rows:")
df = df.drop('d')
print(df)

Append a new row:
Print all records after insert a new record:
      name  score  attempts
b  srinadh    9.0         3
c  manohar   16.5         2
a  Niteesh   12.5         1
d   jhansy   12.0         0

Delete the new row and display the original  rows:
      name  score  attempts
b  srinadh    9.0         3
c  manohar   16.5         2
a  Niteesh   12.5         1

10.Write a Pandas program to sort the DataFrame first by 'name' in descending order,
then by 'score' in ascending order.

In [17]:
import pandas as pd

data  = {'name': ['Niteesh', 'srinadh', 'manohar'],
        'score': [12.5, 9, 16.5],
        'attempts' : [1, 3, 2]}
labels = ['a', 'b', 'c']

df = pd.DataFrame(data , index=labels)
print("Orginal rows:")
print(df)
df = df.sort_values(by=['name', 'score'], ascending=[False, True])
print("Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:")
print(df)

Orginal rows:
      name  score  attempts
a  Niteesh   12.5         1
b  srinadh    9.0         3
c  manohar   16.5         2
Sort the data frame first by ‘name’ in descending order, then by ‘score’ in ascending order:
      name  score  attempts
b  srinadh    9.0         3
c  manohar   16.5         2
a  Niteesh   12.5         1

11.Write a Pandas program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False.

In [22]:
data  = {'name': ['Niteesh', 'srinadh', 'manohar'],
        'score': [12.5, 9, 16.5],
        'attempts' : [1, 3, 2],
        'qualify': ['yes', 'no', 'yes']}
labels = ['a', 'b', 'c']
df = pd.DataFrame(data , index=labels)

print("\nReplace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:")
df['qualify'] = df['qualify'].map({'yes': True, 'no': False})
print(df)

Replace the 'qualify' column contains the values 'yes' and 'no'  with True and  False:
      name  score  attempts  qualify
a  Niteesh   12.5         1     True
b  srinadh    9.0         3    False
c  manohar   16.5         2     True

12.Write a Pandas program to remove infinite values from a given DataFrame.

In [23]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Subhash','Niteesh','Harsha','Anu'],
    'Score': [90, np.inf, 95, -np.inf]
}

df = pd.DataFrame(data)
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df_cleaned = df.dropna()

print("Original DataFrame:")
print(df)

print("\nDataFrame after removing infinite values:")
print(df_cleaned)

Original DataFrame:
      Name  Score
0  Subhash   90.0
1  Niteesh    NaN
2   Harsha   95.0
3      Anu    NaN

DataFrame after removing infinite values:
      Name  Score
0  Subhash   90.0
2   Harsha   95.0